<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634552170642-28t4d45oh5dkd274tu23q6v82j85ha8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634552170642-28t4d45oh5dkd274tu23q6v82j85ha8e</string>
	<key>API_KEY</key>
	<string>AIzaSyAFSZJ32X-dj_eWa5V1YklgZrItBkYfz1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>634552170642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portFolio</string>
	<key>PROJECT_ID</key>
	<string>manoj-kumar-76e68</string>
	<key>STORAGE_BUCKET</key>
	<string>manoj-kumar-76e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634552170642:ios:65e5bdd9b62753e4710e4b</string>
</dict>
</plist>